@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    background: white;
}

.navbar {
    z-index: 1;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.nav.navbar-nav li a {
    color: black;
}

#map {
    padding-top: 50px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#player {
    padding: 0;
    z-index: 1;
    height: 100px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
}

#details {
}

audio {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.navbar {
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    #content {
        height: 100%;
    }

    .content-autre {
        padding: 75px 50px 50px 50px;
    }

    .content-grid {
        height: 100%;
        width: 100%;
    }

    .content-row {
        height: 50%;
    }

    .content-col {
        height: 100%;
    }
}

@media (max-width: 768px) {
    #content {
        padding-top: 50px;
    }
}