@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    background: white;
}

.navbar {
    z-index: 1;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.nav.navbar-nav li a {
    color: black;
}

.content-col {
    padding: 0;
    min-height: 30%;
}

#map {
    padding-top: 50px;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#content {
    z-index: -1;
}

.map {
    z-index: -1;
}

.card {
    z-index: 2;
}

.navbar {
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    #content {
        height: 100%;
        padding: 75px 25px 25px 25px;
    }

    .content-grid {
        height: 100%;
        width: 100%;
    }

    .content-row {
        height: 50%;
    }

    .content-col {
        height: 100%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .map {
        min-height: 50%;
    }
}