@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    background: white;
}

.navbar {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.nav.navbar-nav li a {
    color: black;
}

.content-col {
    padding: 0;
}

.bottom {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

.top {
    z-index: 2;
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    .navbar {
        position: absolute;
        width: 100%;
    }

    #content {
        height: 100%;
        padding: 75px 25px 25px 25px;
    }

    .content-grid {
        height: 100%;
        width: 100%;
    }

    .content-row {
        height: 50%;
    }

    .content-col {
        height: 100%;
        padding: 0;
    }
}
